.header {
  padding: 0% 6%;
  background-color: #393E41;
  color: white;
}

.logo {
  float: left;
  padding: 10px;
  padding-top: 13px;
}

h3 {
  padding-top: 25px;
  margin-bottom: 3px;
  font-size: 35px;
}

.title {
  padding-bottom: 20px;
  font-size: 18px;
}