.header {
  padding: 0% 6%;
  background-color: #7f7979;
  color: white;
}

.logo {
  float: left;
  padding: 8px;
}

h3 {
  padding-top: 25px;
  margin-bottom: 3px;
  font-size: 25px;
}

.title {
  padding-bottom: 20px;
}