.link-contents {
  text-align: center;
}

.project-icon {
  font-size: 50px;
  color: #3F88C5;
}

.project-icon:hover {
  color: #9AC1E1
}

.project-title {
  font-size: 20px;
  font-weight: 500;
  color: #393E41;
}

